@import "tailwindcss";
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --bg: radial-gradient(at 0% 4%, #576e7f 0px, transparent 50%), radial-gradient(at 22% 9%, #588157 0px, transparent 50%), #344f41;
  --background: #ffffff;
  --foreground: #a3b18a;
  --text-color: #dad7cd;
  --button-color: var(--foreground);
  --button-text-color: #ffffff;
  --button-hover-color: #285bb5;
   /* core glow */
   --clr1: #37CBBE;
    /* outer glow */
  --clr2: #7FE6B7;
  /* deepest shadow glow */
  --clr3: #0F2E28;
  /* highlight */
  --clr4: rgba(255,255,255,.35);
  /*smooth blending */
  --clr5: #2F9C8F;
  --clr6: #3A5A40;
  --clr7: #344E41;
}

/* Apply theme variables */
p {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
.container {
  width: 1440px;
  height: 1080px;
}
/* heading */
.heading {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top:30%;
}
.heading h1 {
  font-style: normal;
  font-size: 40px;
  font-weight: bolder;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.button:hover {
  background-color: var(--button-hover-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
