@import "tailwindcss";
@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --bg: radial-gradient(at 0% 4%, #576e7f 0px, transparent 50%), radial-gradient(at 22% 9%, #588157 0px, transparent 50%), #344f41;
  --clr1: #37CBBE;
  --glass-bg: : linear-gradient(135deg, 
  rgba(255,255,255,0.1) 0%, 
  rgba(255,255,255,0.05) 50%, 
  rgba(255,255,255,0.02) 100%);
  --glass-border: rgba(255, 255, 255, 0.15);
  --progress-bg: rgba(255, 255, 255, 0.1);
  --progress-fill: linear-gradient(90deg, #37CBBE, #4ea48a);
  --text: #ffffff;
  --subtext: rgba(255,255,255,0.5);
  --button-yes: linear-gradient(180deg, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.03) 40%, transparent 40%),
  linear-gradient(135deg, #3a7a6b 0%, #4ea48a 100%);
  
  --button-border: rgba(255, 255, 255, 0.2);
  --button-no: rgba(255,255,255,0.03);
  --button-text-color: rgba(255,255,255,0.7);
  --shdw1:  rgba(0,0,0,0.2);
  --shdw2: rgba(255,255,255,0.1);
}

/* Apply theme variables */
body {
  background: var(--bg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
p {
  margin: 0;
  padding: 0;
  color: var(--text);
}
.container {
  width: 1440px;
  height: 1080px;
}
/* heading */
.heading {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  top:30%;
}
.heading h1 {
  font-style: normal;
  font-size: 40px;
  font-weight: bolder;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
}

.button:hover {
  background-color: var(--button-hover-color);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /*--font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
