@import url('./globals.css');
/* Home Page Styles */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}
.welcome-header {
  font-size: 3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}